extend ../_includes/layout.pug
block init
  - const pageID = 2
block content 
  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit ut fugit ducimus nobis est, repellat temporibus aspernatur repudiandae enim quasi sed sapiente dolorum, cum ratione recusandae, numquam adipisci. Dignissimos, rem!