-
  const pages = [
    {href:'/',title:'Home'},
    {href:'/about.html',title:'About'},
    {href:'/info/',title:'Info', aside:true},
    {href:'/contacts.html',title:'Contacts'},    
  ];
doctype html 
html 
  head
    block init
    title= pages[pageID].title
    link(rel="stylesheet", href="/style.css")
    block head
  body
    include header.pug
    main
      block content
    if pages[pageID].aside
      aside Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, accusamus earum. Adipisci aliquid dolore modi, tempora rerum sit excepturi ipsum minima, asperiores libero aut temporibus alias obcaecati, deleniti dicta nostrum quis magnam voluptatem a omnis earum doloribus sed quia nulla. Qui dolores doloribus, quae aperiam doloremque consequatur temporibus optio deserunt. Libero quod deleniti aliquid perferendis perspiciatis ea! Consectetur architecto esse deleniti delectus cum dolorem est consequuntur deserunt aliquam incidunt tempore obcaecati magni quam, itaque praesentium ab. Totam, explicabo. Doloremque, provident molestiae ipsam maiores illum nobis perferendis deleniti voluptatem temporibus. Adipisci doloribus impedit omnis repellat voluptates quibusdam sed, iusto excepturi cupiditate eveniet eius at libero voluptatum architecto, nulla beatae enim distinctio voluptatem repellendus dolore quae! Illum architecto, sapiente iste beatae aliquid ex molestias quis, tempore modi voluptate exercitationem ab cum facere impedit? Dolorem veniam explicabo error earum quos, repudiandae neque ratione animi eligendi ullam quod minus? Beatae vel iure ut deleniti rerum explicabo hic aliquid aspernatur ducimus, nobis accusantium esse natus quis minima pariatur quidem laudantium, animi quas non accusamus! Maiores recusandae debitis accusantium ipsa minima, sapiente iure ratione. Reprehenderit, voluptate nesciunt nihil eligendi repudiandae iusto dignissimos ipsam vero molestias sequi ullam id odit delectus provident harum aperiam possimus. Repellendus, maxime.
    include footer.pug