body
    font-size x-large

nav ul
    list-style none
    display flex
    justify-content space-evenly
    padding-top 0

  span, a
   padding 0.5em 

.active 
    background-color: Blue


for n in 0..6
    li:nth-child({n+1})  
        color: hsl(n*300deg/6,100%,50%)